# Laravel
backend/vendor/
backend/node_modules/
backend/public/storage
backend/public/hot
backend/storage/*.key
backend/.env
backend/.phpunit.result.cache
backend/homestead.json
backend/homestead.yaml
backend/auth.json
backend/npm-debug.log
backend/yarn-error.log
backend/.pnpm-debug.log*

# React
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

# Docker
.dockerignore

# Generic
.DS_Store
Thumbs.db
*.tmp
*.swp
.vscode/
.idea/
*.log

# IA
.specify
.gemini
GEMINI.md
#specs/001-presence-numerique
